body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1e3b8ac7;
}
  
button:hover {
  cursor: pointer;
}

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #1e3a8a;
  color: #ffffff;
}

h1 {
  text-align: center;
  font-family:'Times New Roman', Times, serif;
}

#filterContainer {
  display: flex;
  gap: 5px;
}

input, select {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #ffffff;
}

input:focus, select:focus {
  outline: none;
}

#searchButton {
  background-color: #2563eb;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 1rem;
}

#searchButton:hover {
  background-color: #234ac9; 
}

#toggleSavedButton {
  background-color: #14b8a6;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
}

#toggleSavedButton:hover {
  background-color: #0d9488;
}

#newsContainer, #savedNewsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 10px;
}
  
.articleCard {
  background-color: #f3f4f6;
  border: solid black 1px;
  border-radius: 5px;
  padding: 1rem 1.2rem;
  box-shadow: 8px 5px 5px #2d2d2d;
  box-sizing: border-box;
  width: 100%;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.articleCard:hover {
  transform: scale(1.01);
  box-shadow: 10px 8px 10px #2d2d2d;    
}
  
a {
  color: #1e3a8a;
  text-decoration: none;
}
  
a:hover {
  color: #0d9488;
  text-decoration: underline;
}

.articleCard button {
  background-color: #3b82f6;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 8px 10px;
  font-size: 14px;
  cursor: pointer;
  margin-top: auto;
}

.articleCard button:hover {
  background-color: #2563eb;
}

#savedNewsContainer {
  display: none;
}

#pageContainer {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 1rem;
}

#pageContainer button {
  background-color: #e5e7eb;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 15px;
  text-align: center;
}
  
@media (max-width: 768px) {
  #newsContainer {
    grid-template-columns: 1fr;
  }
}